header {
  display: flex;
  padding: 1em;
  flex-direction: row; justify-content: space-between;
  background-color: var(--bg2);

  & h1 {
    font-size: 1.25em;
    margin: 0;
  }

  & > div {
    display: flex;
    gap: 1em;
  }
}

@media (max-width: 37.5em) {
  header {
    flex-direction: column;
  }
}
