:root {
  --constraint-key: #1E61FF;
  --constraint-serial: #FF6D1F;
  --constraint-optional: #41A67E;
}

body {
  margin: 1em auto; padding: 0 2em;
  max-width: 66em;
}

h1 {
  margin: 0;
  font-size: 2em;
  font-weight: normal;
}

#token { width: 100%; }

main {
  display: flex;
  padding: 2em;
  flex-direction: column;
  gap: 2em;
}

x-table {
  display: flex;
  flex-direction: column;
  gap: 0.5em;

  & h2 {
    opacity: 0.5;
    font-size: 1.25em;
    margin: 0;
  }

  & .query {
    display: flex;
    gap: 0.5em;

    & > pre {
      display: block;
      padding: 0.5em; margin: 0; min-width: 0;
      background-color: var(--bg2);
      text-wrap: wrap; word-wrap: break-word;
      flex-grow: 1;

      &:empty { display: none; }
    }
  }

  & .fields {
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    & > div {
      display: flex;
      padding: 0.5em;
      gap: 0.5em;
      background-color: var(--bg2);

      & > * { height: fit-content; }
    }

    & .checkbox {
      display: flex;
      align-items: center;
    }

    & select, & input:not([type="checkbox"]) {
      min-width: 0;
      flex-grow: 1;
    }
  }

  & .constraints {
    display: flex;
    flex-direction: column;
    gap: 0.25em;

    & > span {
      padding: 0.125em 0.5em;
      width: fit-content;
      border-radius: 0.125em;
      font-size: 0.75em;

      &.key { background-color: var(--constraint-key); }
      &.serial { background-color: var(--constraint-serial); }
      &.optional { background-color: var(--constraint-optional); }
    }
  }

  .control {
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    & button { width: fit-content; }

    & .mode {
      display: flex;
      align-items: center;
      gap: 1em;
    }
  }
}

@media (max-width: 50em) {
  & .query { flex-direction: column; }
}

x-table.get .field:not(:has(.key)) { display: none; }

x-table.delete .field:not(:has(.key)) { display: none; }

x-table.create .field:has(.serial) { display: none; }
